Need access to EAP-TLS's MSK

I've spent better part of 3 hours on a call with the Microsoft specifications team debugging the SSTP protocol to resolve an issue related to SSTP and using the MPPE keys derived to produce the correct crypto binding. Apparently, to resolve this I need the entire 32-bytes of the mppe_send_key instead of the concatenating 16-bytes from each send/receive key. 

Looking at the eap-tls code, this can be fixed by expanding the mppe-send/recv-key in both places to provide sufficient space to store the 32-bytes for each send/recv key produced by this function. Other places needs to be fixed to use only the required 16-bytes where necessary i.e. chap_ms.c.

@jjkeijser you have any comments on this. I can likely get a PR for you tomorrow.

```C
    dbglog("EAP-TLS PRF label = %s", prf_label);
    prf_size = strlen(prf_label);
    if (SSL_export_keying_material(ets->ssl, out, sizeof(out), prf_label, prf_size, 
                                   context, context_len, 0) != 1)
    {    
        warn( "EAP-TLS: Failed generating keying material" );
        return;
    }    

    /*   
     * We now have the master send and receive keys.
     * From these, generate the session send and receive keys.
     * (see RFC3079 / draft-ietf-pppext-mppe-keys-03.txt for details)
     */
    if (client)
    {    
        p = out; 
        BCOPY( p, mppe_send_key, sizeof(mppe_send_key));
        p += EAPTLS_MPPE_KEY_LEN;
        BCOPY( p, mppe_recv_key, sizeof(mppe_recv_key));
    }    
    else 
    {    
        p = out; 
        BCOPY( p, mppe_recv_key, sizeof(mppe_recv_key));
        p += EAPTLS_MPPE_KEY_LEN;
        BCOPY( p, mppe_send_key, sizeof(mppe_send_key));
    }    

    mppe_keys_set = 1; 
````

whoa , I am very confused here...   
* the MS SSTP spec says they follow RFC3079 for MPPE key generation
* RFC3079 states that each MPPE key is 16 bytes longs. 
* note that MPPE key derivation works the same for MS-CHAP as EAP-TLS and that this code was added in ~ v2.4.4, prior to any EAP-TLS stuff

* furthermore the SSTP spec v20180912 says:
Higher-Layer Authentication Key (HLAK)
```
First, a 32-byte long string is generated from keys that are provided by the higher-layer PPP authentication method. This key is sent to the SSTP layer as part of the Inner Authentication Completed Event.
If the higher-layer PPP authentication method generates Microsoft Point-to-Point Encryption (MPPE) keys, as specified in [RFC3079], then an implementation MUST obtain the HLAK by using the following method:
For MS-CHAPv2, as specified in [RFC2759]:
SSTP Client HLAK = MasterSendKey | MasterReceiveKey, and:
SSTP Server HLAK = MasterReceiveKey | MasterSendKey,
where | indicates concatenation of strings, and MasterSendKey and MasterReceiveKey are as specified in [RFC3079] section 3.

For EAP TLS, as specified in [RFC2716]:
SSTP Client HLAK = MasterSendKey | MasterReceiveKey, and:
SSTP Server HLAK = MasterReceiveKey | MasterSendKey,
where | indicates concatenation of strings
```

Those first 32 bytes are simply the concatenation of the MPPE keys - exactly like the code currently does.

So  lots of questions
* how would a client know when to send "expanded" keys (Win 10 can happily connect to pptp+pppd 2.4.9) ?
* which RFC is Microsoft following here?  
* Where can we find updated specs for SSTP?



@jjkeijser 

First bullet: Yes, this is indeed wrong and the specification will be updated (or less likely the software bug being fixed - there is just so much deployed software out there that would stop working). We found the root cause for this issue yesterday when stepping through the code in WinDBG.

For SSTP to generate the appropriate CMAC, it really needs to get it hands on the EAP-TLS MSK (or at least the first 32 bytes of it), see RFC5216 section 2.3 about key derivation. It is true it refers to the Encr-Send-Key (MSK 0..31) and Encr-Recv-Key (MSK 32..64). 

This has little to do with the actual MPPE key being pushed into the Linux kernel via the CCP layer. This part is still 16 bytes long. Also, when decrypting the RADIUS trace, the radius packets have the MS-MPPE-Recv-Key attribute with > 16 bytes, in fact the size is 32.  All other functions of MPPE keys as referred to in pppd would still be 16 bytes.  Only a handful of places. Dependent on how we want to fix this, e.g. have places use MPPE_MAX_KEY_LEN or sizeof(destination_buffer) instead of sizeof(mppe_send_key) in the copy operations.

Think of it as the MPPE keying material. You can set this in 8, 16, or 32 if you like. You can still configure MPPE-128 using the first 16 bytes of the keying material even if 32 bytes is available.

Yes, the correct crypto-binding would be as referred to 3.2.5.2.4


let me get this straight then
* for SSTP CMAC generation you need the EAP-TLS MSK which can be had from within eap-tls.c using `SSL_export_keying_material`
* the actual MPPE keys which are needed for ppp & ppp_mppe (`require-mppe-128` ) are still 16 bytes long, as conforming to RFC3079. There is no way to change this, as changing this would require a kernel change to ppp_mppe.[ch]

So even if you **do** increase the key length to 32 bytes then how will you generate two separate sets of keys, one for CMAC generation and one for ppp CCP negotiation?


@jjkeijser I queued a patch set to show you what I mean. I'd be willing to invest time in properly encapsulate the keys to avoid the static variables, move it into e.g. mppe.c (which doesn't currently exist) and to export these as necessary through a function my plugin can use. It's a *crude* fix to show you what I mean, so please don't be too harsh ;-)

I browsed through the patch and am still confused:  you say you need access to the EAP-TLS MSK. Then why not expose that - and only that - explicitly to a plugin of  your writing and leave the MPPE stuff alone? that should be far less invasive , right?


Less invasive is probably true. 

However, I am basing my on findings where e.g. the MPPE keys as transferred via Radius is 32-bytes long. Essentially, if your policy says MPPE-128, you'll use the first 16-bytes of this. If you have MPPE-40, you'll use the first 8 bytes of this. Since MPPE-128 is max, the the kernel won't allocate more space than to hold 16-bytes. If you are willing to think of the pppd version of these keys as "Key Material" and it can be up to 32-bytes long per send/recv key. The Radius attribute in RFC 2548 describes the MPPE keys are a variable length data type. I have a .pcap file that shows you the dump and length of the decrypted attribute to be of 32-byte size.

It so co-incidentally happens to be how RFC 5216 describes the Key Derivation in section 2.3 that the MSK 0..31 and MSK 32..64 corresponds to the MPPE send and receive keys. You are correct in configuring the 0..16 bytes of each for the send/recv key as they are provided to CCP and where MPPE policy is indeed negotiated for the connection. That part works great. If we are to make such a change, it's to ensure that we in the future don't loose important information along the path that is important to others and not just the CCP code.

Having that said, I am okay either way. I can craft a patch to expose the EAP_MSK variable and poke at that if needed. I will also need to find a way to figure out the negotiated EAP algorithm as I will need to make a distinction to whether or not EAP-MSCHAPv2 or EAP-TLS is in use. I'd be still curious to see what SSTP does for EAP-PEAP w.r.t. CMAC crypto binding attribute. The spec currently says it is using the MSK.

On different note, I am sure the folks over at Microsoft is working hard on getting the specification corrected. It could be prudent to wait until the new update is released before we commit to one patch over the other. I am currently adding in the user interface for EAP-TLS configuration for network-manager-sstp plugin. 



I'd go for "less-invasive" right now. It seems Micros~1 dug themselves a nice hole again:
- rfc2548 states that MPPE keys are variable in length,  and says "currently supported: 40bit, 56bit and 128bit"
- rfc3079 clearly states that MPPE keys 16 bytes max and even states this
```
      If the asymmetrical master keys are less than 16 octets in length,
      they MUST be padded on the left with zeroes before being used to
      derive the initial transient session keys.  Conversely, if the
      asymmetrical master keys are more than 16 octets in length, they
      must be truncated to 16 octets before being used to derive the
      initial transient session keys.
```
- now they seem to have added 32byte keys somewhere/somehow to the Micros~1 - specific RADIUS attributes

So, conformance to which standard do you wish to break? 3079 , 2548? another one?
I'd expose the MSK itself for now - once they've updated their specs (RFC anyone?)  we can properly adjust the CCP code.


"Conversely, if the
      asymmetrical master keys are more than 16 octets in length, they
      must be truncated to 16 octets"

So they **can** be **more** than 16 bytes, but it they are then they are truncated before you derive the transient session keys. The kernel does the derivation of transient session keys, and will currently reject session keys that are longer than 16 bytes. 

Would it not be appropriate to have CCP do the truncation when writing the option to the kernel?



The kernel will reject asymmetric master keys longer than 16 bytes. That may very well be a deliberate decision.